@import '@/assets/styles/_global.scss';

.Breadcrumb {
  background: $white;
  padding: 22px 24px;

  .ant-breadcrumb>span:last-child {
    color: $limeade;
  }

  &-title {
    margin: 16px 0 0 0 !important;
  }
}