/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$white-1: #f5f4f4;
$black: #000000;
$black-1: #2b3141;
$black-2:  rgba(0, 0, 0, 0.6);
$black-3: #5f5e5e;
$gallery: #f0f0f0;
$athens-gray: #f0f2f5;
$dodger-blue: #1890ff;
$alto: #d9d9d9;
$lima: #52c41a;
$limeade: #7cb305;
$emperor: #505050;
$link-water: #d7e4f3;
$gray-link: #5a5a5a;
$orange: #ff9f00;
$gray:#333333;
$yellow : #ff9f00;
$gray-light: #b4b4b4;
$black-light: #403333;

$gallery: #F0F0F0;
$athens-gray: #F0F2F5;
$dodger-blue: #1890FF;
$alto: #D9D9D9;
$lima: #52C41A;
$limeade: #7CB305;
$emperor: #505050;
$link-water: #D7E4F3;
$gray-link : #5a5a5a;
$blue : #0776dd;

$ebony-clay: #2B3141;
$orange-peel: #FF9F00;
$wild-sand: #F5F4F4;
$cinder: #08070C;
$scorpion: #5F5E5E;
$silver: #C4C4C4;
$mercury: #E3E3E3;
$gray: #868686;
$alto: #d9d9d9;
$mine-shaft: #333333;
$iron: #D8D9DB;
$concrete: #F2F2F2;
$boulder: #777777;
$flamingo: #EE4D2C;
$brown: #925B00;
$dusty-gray: #9B9595;
$pomegranate: #F5360F;
$green-haze: #01A358;
$amber: #FFC107;
$nobel: #B7B4B4;
$razzmatazz: #E20A62;
$alabaster: #F8F8F8;
$moon-raker: #D5DCF8;
$titan-white: #E9EDFF;