@import '@/assets/styles/_global.scss';

.Footer {
  overflow: hidden;
  background: $cinder;

  &-top {
    border-bottom: 1px solid $silver;

    &-wrapper {
      padding: 5.8rem 0 3.2rem;
    }
  }

  &-title {
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
    color: $white;
    margin-bottom: 1.2rem;
  }

  &-text {
    font-size: 1.8rem;
    color: $white;

    &.active {
      color: $orange-peel;
    }
  }

  &-socials {
    margin-top: 2.4rem;

    &-item {
      flex: 0 0 3.2rem;
      max-width: 3.2rem;
      height: 3.2rem;
      margin-right: 1.6rem;

      img {
        width: 100%;
      }
    }
  }

  &-qr {
    max-width: 15.3rem;
    display: block;

    img {
      width: 100%;
    }
  }

  &-btn {
    max-width: 21.2rem;
    display: block;

    img {
      width: 100%;
    }
  }

  &-list {
    list-style: disc;
    padding-left: 2rem;

    &-item {
      strong {
        font-weight: 600;
      }
    }
  }

  &-bottom {
    &-wrapper {
      padding: 3.2rem 0;

      .ant-row {
        @media (max-width: 575px) {
          .ant-col {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
    }
  }
}